*{
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

.produtos {
  padding: 2rem;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.produto-card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
